.app-product {
  padding: 10px;
}

img {
  width: 250px;
}

.top-link {
  margin-top: 15px;
  padding: 0 15px;
}

.page {
  display: flex;
}

.content {
  width: 75%;
  padding: 0 15px;
}

.sidebar {
  width: 25%;
  padding: 0 15px;
}
